.design-block {
    margin-top: 64px;
    font-family: 'Raleway';
    background: url(/img/banner__bgcolor.webp), url(/img/Design__background.webp) 100% 100% no-repeat;
    background-size: cover;
    padding: 104px 0 50px;
} 

.design-block__title-wrapper {
    padding-bottom: 54px;
    position: relative;
}

.design-block__title-wrapper::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 42.73%;
    width: 170px;
    height: 1px;
    background-color: #FFFFFF;
}

.design-block__title {
    color: #FFFFFF;
}

.design-block__text {
    color: #FFFFFF;
}

.design-block__btn {
    margin: 73px auto 0px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    display: block;
    width: 31.62%;
    padding: 14.5px;
}

.design-block__btn:hover {
    color: #EC7979;
    border: 2px solid #EC7979;
}

.design-block__btn:active {
    background: #AB4949;
    border: 2px solid #AB4949;
    color: white;
}

@media (max-width: 1510px) {
    .design-block {
        margin-top: 57px;
        padding: 96px 0 50px;
    } 
    
    .design-block__title-wrapper {
        padding-bottom: 46px;
    }
    
    .design-block__title-wrapper::after {
        left: 42.84%;
        width: 142px;
    }
       
    .design-block__btn {
        margin: 32px auto 0px;
        width: 32.05%;
    }
}

@media (max-width: 1024px) and (min-width: 320px) {
    .design-block {
        margin-top: 31.51px;
        padding: 46px 0 58px;
        background: url(/img/banner__bgcolor.webp), url(/img/Design__background2.webp) 100% 100% no-repeat;
        background-position: center;
    } 

    .design-block__title-wrapper {
        padding-bottom: 46px;
    }
    
    .design-block__title-wrapper::after {
        left: 26.73%;
        width: 134px;
    }
    
    .design-block__text {
        margin-top: 16px;
    }

    .design-block__btn {
        margin: 66px auto 0px;
        width: 100%;
        padding: 10.5px;
    }
}